<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= sub %>
  </p>
  <table style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>ID#</th>
        <th>Term</th>
        <th>Description</th>
        <th>References</th>
      </tr>
    </thead>
    <tbody>
      <% name.forEach((item)=> { %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= item.term %>
          </td>
          <td>
            <%= item.description %>
          </td>
          <td>
            <% item.references.forEach((reference)=> { %>
              <p>
                <%= reference %>
              </p>
              <% }) %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

</body>

</html>